/*YEAR TEMPLATE*/
.yearContainer {
	padding: 30px 20px;
	height: 100%;
	text-align: center;
}
.years {
	padding: 20px 25px;
	background-image: url("../img/jellyfish.jpg");
	li{
		letter-spacing: 3px;
		font-size: 25px;
		padding: 10px 0;
	}
	.prev {
		float: left;
		padding-top: 10px;
	}
	.next {
		float: right;
		padding-top: 10px;
	}
		}
	.months {
		border: 5px solid black;
		.monthName {
			hight: 100%;
			li{
				background: #ababab;
				display: inline-block;
				width: 24.5%;
				height: 15%;
				padding: 10px auto;
				font-size: 20px;
				border: 2px solid navy;
				margin: 5px auto;
				// margin-bottom: 10px;
			}
	}
}
