h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
}
a {
    text-decoration: none;
}
ul, ol, dl {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
dt {
    margin-top: 0.5em;
}
dd {
    margin-left: 0;
    margin-bottom: 0.5em;
}
body {
    margin: 0;
    padding: 0;
    background: #dfdfdf;
    color: #585858;
    font: 16px/1.2 Arial, Helvetica, sans-serif;
}
main {
    margin: 0 auto;
    width: 960px;
    background: #fbfbfb;
    box-shadow: 0 0 8px 0 #929292;
}
header {
    background: #585858;
    overflow: hidden;
    margin-bottom: 2rem;
    padding: 0 1rem;
    color: #fefefe;
    box-shadow: 0 4px 4px -4px #484848;
    min-width: 960px;
}
header h2 {
    margin: 0;
    float: left;
}
header a {
    color: #fefefe;
    display: inline-block;
    padding: 0 0.5rem;
    line-height: 3rem;
}
header a:hover, header a:focus {
    background: #787878;
}
header nav {
    float: right;
}
header li {
    float: left;
}
footer {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}




table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0;
}
th, td {
    text-align: center;
    color: #585858;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
thead {
    /*border: 2px solid #e2e2e2;*/
    background: #e2e2e2;
    border-bottom: 2px solid #c2c2c2;
}
.k {
    color: #44ddff;
}
#header {
    color: #fefefe;
    overflow: hidden;
    font-weight: bold;
    z-index: 10;
    position: relative;
}
#header h1 {
    text-align: center;
    margin: 0;
    line-height: 4rem;
}
#header a {
    color: #fefefe;
    display: inline-block;
    padding: 0 0.5rem;
}
.prev, .next {
    font-size: 1.2rem;
    line-height: 4rem;
}
.prev {
    float: left;
}
.prev:before {
    content: "< ";
}
.next {
    float: right;
}
.next:after {
    content: " >";
}
td.wday5, td.wday6 {
    background: #f2f2f2 !important;
}
.wday6, .wday6 a, .dayoff, .dayoff a {
    color: #f87878 !important;
}
td.today {
    /*border: 2px solid #444488 !important;*/
    box-shadow: inset 0px 0px 0px 2px #444488;
}



#miesieczny #header {
    background: #4488bb;
    box-shadow: 0 2px 2px -2px #226699;
}
#miesieczny #header a:hover, #miesieczny #header a:focus {
    background: #787878;
}
#miesieczny .rok {
    background: #44bbdd;
    line-height: 2rem;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 2px 2px -2px #2299bb;
    text-align: center;
    z-index: 5;
    position: relative;
}
#miesieczny .rok a {
    color: #fefefe;
    display: inline-block;
    padding: 0 0.5rem;
}
#miesieczny .rok a:hover, #miesieczny .rok a:focus {
    background: #787878;
}
#miesieczny th, #miesieczny td {
    font-size: 1.2rem;
}
#miesieczny th {
    height: 2.4rem;
}
#miesieczny td {
    border: 1px solid #e2e2e2;
    height: 4.8rem;
}
#miesieczny td div {
    font-size: 0.8rem;
    font-weight: normal;
}

#miesieczny table a {
    color: #585858;
    height: 100%;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}
#miesieczny table a:hover, #miesieczny table a:focus {
    background: #b8b8b8;
}
#miesieczny .weeknr {
    font-size: 0.8rem;
    width: 7.725%;
}
#miesieczny tbody .weeknr {
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    border-right: 1px solid #cbcbcb;
}




#roczny #header {
    background: #44bbdd;
    box-shadow: 0 2px 2px -2px #2299bb;
}
#roczny #header a:hover, #roczny #header a:focus {
    background: #787878;
}
#roczny>table {
    background: #ebebeb;
    /*border: 0.5rem solid #ebebeb;*/
}
#roczny>table>tbody {
    /*border: 0.5rem solid #ebebeb;*/
}
#roczny table table {
    box-shadow: 0 0 4px 0 #929292;
}
#roczny th.month {
    background: #4488bb;
    line-height: 2rem;
    box-shadow: 0 2px 2px -2px #226699;
    color: #fefefe;
    overflow: hidden;
    font-weight: bold;
    z-index: 10;
    position: relative;
}
#roczny th, #roczny td {
    font-size: 1rem;
}
#roczny th {
    height: 1.6rem;
}
#roczny th.month {
    background: #4488bb;
    height: 2.4rem;
    font-size: 1.2rem;
}
#roczny td td {
    border: 1px solid #e2e2e2;
    height: 2.4rem;
    background: #fbfbfb;
}

#roczny tr.quarter>td {
    vertical-align: top;
    padding: 0.5rem;
}
#roczny table a {
    color: #585858;
    display: block;
}
#roczny table a:hover, #roczny table a:focus {
    background: #787878;
}
#roczny table a:hover *, #roczny table a:focus *{
    opacity: 0.96 !important;
}




#dzienny #main {
    padding: 1rem 2rem;
}
#dzienny #header {
    background: #444488;
    box-shadow: 0 2px 2px -2px #222266;
    z-index: 20;
    position: relative;
}
#dzienny #header a:hover, #dzienny #header a:focus {
    background: #787878;
}
#dzienny .miesiac {
    background: #4488bb;
    line-height: 2.4rem;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 0 2px 2px -2px #226699;
    z-index: 10;
    position: relative;
    text-align: center;
}
#dzienny .miesiac a {
    color: #fefefe;
    display: inline-block;
    padding: 0 0.5rem;
}
#dzienny .miesiac a:hover, #dzienny .miesiac a:focus {
    background: #787878;
}
#dzienny .rok {
    background: #44bbdd;
    line-height: 2rem;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 2px 2px -2px #2299bb;
    text-align: center;
    z-index: 5;
    position: relative;
}
#dzienny .rok a {
    color: #fefefe;
    display: inline-block;
    padding: 0 0.5rem;
}
#dzienny .rok a:hover, #dzienny .rok a:focus {
    background: #787878;
}
#dzienny .dzien {
    font-size: 12rem;
    clear: both;
    text-align: center;
}
#dzienny .dzientyg {
    font-size: 3.2rem;
    text-align: center;
}
#dzienny .splittop {
    overflow: hidden;
}
#dzienny .splitleft {
    float: left;
    width: 38%;
    text-align: center;
}
#dzienny .splitcenter {
    float: left;
    width: 24%;
    text-align: center;
}
#dzienny .splitright {
    float: left;
    width: 38%;
    text-align: center;
}

#dzienny dt {
    font-size: 0.8rem;
}
#dzienny dd {
    font-size: 1.2rem;
}
#dzienny dd dt {
    display: inline;
}
#dzienny dd dt:before {
    content: "";
    display: block;
    margin-top: 0.25em;
}
#dzienny dd dd {
    display: inline;
}
#dzienny dd dd:after {
    content: "";
    display: block;
    margin-bottom: 0.25em;
}
#dzienny .dzien-pory-roku {
    display: inline;
}
#dzienny .dzien-pory-roku dd:after {
    display: inline;
}
#dzienny .dzien-pory-roku dt:before {
    display: inline;

}

#dzienny .znak-zodiaku {
    font-size: 60px;
    vertical-align: middle;
    color: #858585;
}
#dzienny img.pora-roku {
    vertical-align: middle;
    width: 52px;
    height: 52px;
    padding: 12px 0;
}
#dzienny .dzienwolny {
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
}
#dzienny .splitbottom {
    text-align: center;
    margin: 2rem 0 0.5rem;
}
#dzienny .splitbottom dl {
    text-align: center;
}
#dzienny .splitbottom dt {
    display: block;
}
#dzienny .splitbottom dd {
    display: block;
}
#dzienny .splitcenter dl {
    text-align: center;
}
#dzienny .splitcenter dt {
    display: block;
}
#dzienny .splitcenter dd {
    display: block;
}
.splittop img {
    width: 36px;
}

#dzienny .splitbottom dt.dayoff {
    font-size: 1.2rem;
}
#dzienny .splitbottom dd.dayoff {
    font-size: 2rem;
}



#imieninowy {
    text-align: center;
}
#imieninowy dt {
    font-size: 1.6rem;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #4488bb;
}
#imieninowy dt a {
    color: #4488bb;
}
#imieninowy dt.today, #imieninowy dt.today a {
    color: #444488;
}
#imieninowy dd {
    font-size: 1.2rem;
    margin-top: 0.5em;
    margin-bottom: 1em;
}


#imieninowy #main, #swiateczny #main {
    padding: 1rem 2rem;
}
#imieninowy #header, #swiateczny #header {
    background: #4488bb;
    box-shadow: 0 2px 2px -2px #226699;
}
#imieninowy #header a:hover, #imieninowy #header a:focus, #swiateczny #header a:hover, #swiateczny #header a:focus {
    background: #787878;
}


#swiateczny {
    text-align: center;
}
#swiateczny>#main>dl>dt {
    font-size: 1.6rem;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #4488bb;
}
#swiateczny>#main>dl>dt>a {
    color: #4488bb;
}
#swiateczny>#main>dl>dt.today, #swiateczny>#main>dl>dt.today>a {
    color: #444488;
}

#swiateczny>#main>dl>dd {
    margin-bottom: 1em;
    margin-top: 0.5em;
}
#swiateczny dd dt {
    font-size: 0.8rem;
}
#swiateczny dd dd {
    font-size: 1.2rem;
}
#swiateczny dt.dayoff {
    font-size: 1.2rem
}
#swiateczny dd.dayoff{
    font-size: 2rem;
}