/*RESET CSS*/
body {
	line-height: normal;
	padding: 0;
	margin: 0;
	// background-image: url("../img/jellyfish.jpg");
}
/*IMPORT EXTERNAL FILES*/
// @insert 'month';
/*VARIABLES*/ /*MEASURES*/

$header-hight: 20%;
$nav-height: 40px;
$page-height: 70%;
$footer-height: 0vp;

/*COLOR SETS*/ /*PURPLE JELLYFISH*/
$button-border: 2px solid purple;
$button-background: lightpink;
$panel-background: #aa0559;

/*BLUE-ORANGE BULB*/

@mixin mainTheme {
	background-image: url("../img/jellyfish.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	color: white;
}

/*MAIN VIEW TEMPLATE*/
/*WELCOME*/

.elementHidden {
	display: none;
}

header {
	@include mainTheme;
	height: 100vh;
	min-height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

nav {
	width: 95%;
	margin: 0 auto;
	height: 40px;
	margin: 8px auto;
}
.navbarMenu {
	line-height: 100%;
	li {
		border: $button-border;
		border-radius: 7px;
	}
}
#navRight {
	float: right;
}

#page {
	margin: 0 auto;
	// margin-bottom: 10px;
	width: 100%;
	height: 70%;
}
.container {
	width: 95%;
	height: 100%;
	margin-bottom: 10px;
}

.motto{
	line-height: 100%;
}

.hidePanel {
	display: none;
}

.panel {
	height: 100%;
	border: 1px solid purple;
	opacity: 0.8;
	.panelHeader {
		margin-top: 10px;
		.badge {
			float: right;
		}
		button {
			float: right;
		}
	}
	hr {
		margin-top: 5px;
		margin-bottom: 10px;
	  border: 0;
	  border-top: 1px solid #ababab;
	}
}

footer {
	@include mainTheme;
	height: 0vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
  left: 0;
	bottom: 0;
}

/*ELEMENTS*/
button {
	background-color: purple;
	color: white;
}

ul {
	-webkit-padding-start: 0;
	li {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

.done{
	.title{
		text-decoration: line-through;
	}
	.glyphicon-ok {
		color: green;
	}
}
