/*RESET CSS*/
body {
  line-height: normal;
  padding: 0;
  margin: 0;
  border: 3px dotted orange;
}

html {
  border: 3px dotted blue;
}

/*IMPORT EXTERNAL FILES*/
/*VARIABLES*/
/*MEASURES*/
/*COLOR SETS*/
/*PURPLE JELLYFISH*/
/*BLUE-ORANGE BULB*/
/*MAIN VIEW TEMPLATE*/
/*WELCOME*/
.elementHidden {
  display: none;
}

header {
  background-image: url("../img/jellyfish.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

nav {
  width: 95%;
  margin: 0 auto;
  height: 40px;
  margin: 8px auto;
}

.navbarMenu {
  line-height: 100%;
}

.navbarMenu li {
  border: 2px solid purple;
  border-radius: 7px;
}

.navRight {
  float: right;
}

/*dodac @media width x2 przy mniejszej rozdzielczosci*/
#page {
  margin: 0 auto;
  width: 100%;
  height: 70%;
}

.container {
  background-color: lightcyan;
  width: 95%;
  height: 100%;
  margin-bottom: 10px;
}

.motto {
  line-height: 100%;
}

.hidePanel {
  display: none;
}

.panel {
  background-color: #aa0559;
  color: white;
  height: 100%;
  border: 1px solid #fff;
}

footer {
  background-image: url("../img/jellyfish.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 0vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  bottom: 0;
}

/*DAY TEMPLATE*/
#dayPlan {
  background-color: green;
  color: white;
  height: 100%;
}

/*WEEK TEMPLATE*/
ul {
  -webkit-padding-start: 0;
}

ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

button {
  background-color: #000;
  color: white;
}

/*ZADANIE TEMPLATE*/
form {
  background-color: skyblue;
}

/*TASKS TEMPLATE*/
.done-true {
  text-decoration: line-through;
}
