/*RESET CSS*/
body {
  line-height: normal;
  padding: 0;
  margin: 0;
}

/*IMPORT EXTERNAL FILES*/
/*VARIABLES*/
/*MEASURES*/
/*COLOR SETS*/
/*PURPLE JELLYFISH*/
/*BLUE-ORANGE BULB*/
/*MAIN VIEW TEMPLATE*/
/*WELCOME*/
.elementHidden {
  display: none;
}

header {
  background-image: url("../img/light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: white;
  height: 100vh;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 95%;
  margin: 0 auto;
  height: 40px;
  margin: 8px auto;
}

.navbarMenu {
  line-height: 100%;
}

.navbarMenu li {
  border: 2px solid purple;
  border-radius: 7px;
}

#navRight {
  float: right;
}

#page {
  margin: 0 auto;
  width: 100%;
  height: 70%;
}

.container {
  background-color: lightcyan;
  width: 95%;
  height: 100%;
  margin-bottom: 10px;
}

.motto {
  line-height: 100%;
}

.hidePanel {
  display: none;
}

.panel {
  background-color: #aa0559;
  color: white;
  height: 100%;
  border: 1px solid #fff;
}

footer {
  background-image: url("../img/light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: white;
  height: 0vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
}

/*ELEMENTS*/
button {
  background-color: #000;
  color: white;
  border-radius: 15px;
}

ul {
  -webkit-padding-start: 0;
}

ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
