<div id="dayPlan">
    <div class="row">
        <div class="col-md-12">
            <button>Wstecz</button>
            <button>Wybrana data</button>
            <button>Dalej</button>
        </div>
    </div>
      <div class="col-md-12">
        <label>Plan dnia</label>
        <ul>
          <li>8:00 Wydarzenie<button>Imp</button><button>del</button><button>edit</button></li>
          <li>10:00 Wydarzenie<button>Imp</button><button>del</button><button>edit</button></li>
          <li>12:00 Wydarzenie<button>Imp</button><button>del</button><button>edit</button></li>
          <li>14:00 Wydarzenie<button>Imp</button><button>del</button><button>edit</button></li>
          <li>16:00 Wydarzenie<button>Imp</button><button>del</button><button>edit</button></li>
          <li>18:00 Wydarzenie<button>Imp</button><button>del</button><button>edit</button></li>
          <li>20:00 Wydarzenie<button>Imp</button><button>del</button><button>edit</button></li>
          <li>22:00 Wydarzenie<button>Imp</button><button>del</button><button>edit</button></li>
        </ul>
        <button>Dodaj</button>
      </div>
  </div>
</div>
