<div class="row">
    <div class="col-md-2">
        <div class="day">
            <div>
                <label>Poniedziałek</label>
                <label>Plan dnia</label>
                <ul>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                </ul>
            </div>
            <div>
                <label>Zadania</label>
                <ul>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="day">
            <div>
                <label>Wtorek</label>
                <label>Plan dnia</label>
                <ul>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                </ul>
            </div>
            <div>
                <label>Zadania</label>
                <ul>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="day">
            <div>
                <label>Środa</label>
                <label>Plan dnia</label>
                <ul>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                </ul>
            </div>
            <div>
                <label>Zadania</label>
                <ul>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="day">
            <div>
                <label>Czwartek</label>
                <label>Plan dnia</label>
                <ul>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                </ul>
            </div>
            <div>
                <label>Zadania</label>
                <ul>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="day">
            <div>
                <label>Piątek</label>
                <label>Plan dnia</label>
                <ul>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                </ul>
            </div>
            <div>
                <label>Zadania</label>
                <ul>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="day">
            <div>
                <label>Sobota</label>
                <label>Plan dnia</label>
                <ul>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                </ul>
            </div>
            <div>
                <label>Zadania</label>
                <ul>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="day">
            <div>
                <label>Niedziela</label>
                <label>Plan dnia</label>
                <ul>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                    <li>Wydarzenie</li>
                </ul>
            </div>
            <div>
                <label>Zadania</label>
                <ul>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                    <li>Zadanie</li>
                </ul>
            </div>
        </div>
    </div>
</div>
