
<div class="row ddd">
    <div class="years">
        <button class="btn">Poprzedni</button>
        <button class="btn yearBtn">2016</button>
        <button class="btn yearBtn">2017</button>
        <button class="btn yearBtn">2018</button>
        <button class="btn">Następny</button>
    </div>
</div>
<div class="months">
    <div class="row aaa">
        <!--        <div class="col-md-2"></div>-->
        <div class="month january col-md-3">Styczeń</div>
        <div class="month february col-md-3">Luty</div>
        <div class="month march col-md-3">Marzec</div>
        <div class="month april col-md-3">Kwiecień</div>
    </div>
    <div class="row bbb">
        <div class="month may col-md-3">Maj</div>
        <div class="month june col-md-3">Czerwiec</div>
        <div class="month july col-md-3">Lipiec</div>
        <div class="month august col-md-3">Sierpień</div>
    </div>
    <div class="row ccc">
        <div class="month september col-md-3">Wrzesień</div>
        <div class="month november col-md-3">Październik</div>
        <div class="month october col-md-3">Listopad</div>
        <div class="month december col-md-3">Grudzień</div>
    </div>
</div>
