
<div class="row yearContainer">
	<!-- <div class="row"> -->
		<div class="col-md-12 years">
			<ul>
				<li class="prev">&#10094;</li>
				<li class="next">&#10095;</li>
				<li>
					<span>2017</span><br/>
					<span>rok</span>
				</li>
			</ul>
		</div>
	<!-- </div> -->
	<div class="row">
		<div class="col-md-12 months">
			<ul class="monthName">
				<li>Styczeń</li>
				<li>Luty</li>
				<li>Marzec</li>
				<li>Kwiecień</li>
				<li>Maj</li>
				<li>Czerwiec</li>
				<li>Lipiec</li>
				<li>Sierpień</li>
				<li>Wrzesień</li>
				<li>Październik</li>
				<li>Listopad</li>
				<li>Grudzień</li>
			</ul>
		</div>
	</div>
</div>
